* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Tahoma, Arial;
    width:100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}
.slider-container {
    margin: 10px auto;
    width: 800px;
    margin-bottom: 80px;
}
@media (min-width:991px) {
    body{
        min-height: 100vh;
    }
    .slider-container{
        min-height: 200px;
    }
}
@media (max-width:991px) {
    .slider-container{
        width: 400px;
        min-height: 300px;
    }
}
.slider-container img {
    display: block;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-container img.active {
    opacity: 1;
    user-select: none;
}
@media (max-width:991px) {
    .slider-container img {
        height: 350px;
    }
}
.slider-container .slide-number {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, .6);
    color: #FFF;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
    pointer-events: none;
}
.slider-controls {
    width: 800px;
    margin: auto;
    overflow: hidden;
}
@media (max-width:991px) {
    .slider-controls{
        width: 400px;
    }
}
.slider-controls .prev,
.slider-controls .next {
    background-color: #009688;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    user-select: none;
    width: 20%;
}
.slider-controls .prev {
    float: left;
}
.slider-controls .next {
    float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
    user-select: none;
    pointer-events: none;
}
.slider-controls .indicators {
    width: 60%;
    float: left;
    user-select: none;
}
.slider-controls .indicators ul {
    list-style: none;
    margin: 0;
    text-align: center;
}
.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #F6F6F6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}
.slider-controls .indicators ul li.active {
    background-color: #009688;
    color: #FFF;
}
/* Mini Screens */

@media (max-width:400px) {
    .slider-container{
        width: 100%;
        min-height: 250px;
    }
    .slider-container img {
        height: 250px;
    }
    .slider-controls{
        width: 250px;
        font-size: 11px !important;
    }
    .indicators ul {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transform: translateY(4px);
    }
    .indicators ul li{
        line-height: 1.2 !important;
        width: 15px !important;
        height:15px !important ;
        margin: 0 5px !important;
    }
    .slider-controls .prev, .slider-controls .next {
        font-size: 11px;
        width: 20%;
        padding: 5px;
    }
}
@media (min-width:330px) {
    .slider-container img{
        height: 300px !important;
    }
}
